{% extends 'base.html' %}

{% block extend_title %}Homepage |{% endblock %}

{% block content %}
<div class="container py-4">
  <h1>Django Forum Templates</h1>
  <p>Voici l'ensemble des templates que vous pouvez utiliser lors de la réalisation du projet.</p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="{% url 'login' %}">Login</a></td>
        <td>Le template de la page de connexion.</td>
      </tr>
      <tr>
        <td><a href="{% url 'register' %}">Register</a></td>
        <td>Le template de la page de création de compte.</td>
      </tr>
      <tr>
        <td><a href="{% url 'reset_pwd_form' %}">Reset PWD Form</a></td>
        <td>Le template de la page de demande de changement de mot de passe.</td>
      </tr>
      <tr>
        <td><a href="{% url 'reset_pwd_done' %}">Reset PWD Done</a></td>
        <td>Le template de la page de confirmation de demande de changement de mot de passe.</td>
      </tr>
      <tr>
        <td><a href="{% url 'reset_pwd_confirm' %}">Reset PWD Confirm</a></td>
        <td>Le template de la page de changement de mot de passe.</td>
      </tr>
      <tr>
        <td><a href="{% url 'reset_pwd_complete' %}">Reset PWD Complete</a></td>
        <td>Le template de la page de confirmation de changement de mot de passe.</td>
      </tr>
      <tr>
        <td><a href="{% url 'profil' %}">Profil</a></td>
        <td>Le template de la page profile.</td>
      </tr>
      <tr>
        <td><a href="{% url 'topic_list' %}">Topic List</a></td>
        <td>Le template de la page principale du forum listant l'ensemble des Topics créés.</td>
      </tr>
      <tr>
        <td><a href="{% url 'topic_detail' %}">Topic Detail</a></td>
        <td>Le template de la page détail d'un Topic. On y retrouve l'ensemble des messages liés à ce topic, ainsi qu'un formulaire pour y ajouter un nouveau message.</td>
      </tr>
      <tr>
        <td><a href="{% url 'topic_create' %}">Topic Create</a></td>
        <td>Le template de la page de création d'un nouveau Topic.</td>
      </tr>
      <tr>
        <td><a href="{% url 'react' %}">React</a></td>
        <td>Le template de base pour intégrer un composant ReactJs dans une vue Django.</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}