{% extends 'base.html' %}

{% block extend_title %}Change PWD |{% endblock %}

{% block content %}
<div class="col-6 mx-auto pt-5">
    <div class="border rounded p-4">
        <h3 class="mb-5 text-center">Change password</h3>

        {% if validlink %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
        {% else %}
        <form>
            <div class="form-group">
                <input type="password" name="password" autofocus="false" placeholder="Password" class="form-control"
                    required="" id="id_password">
            </div>
            <div class="form-group">
                <input type="confirm_password" name="confirm_password" autofocus="false" placeholder="Confirm Password"
                    class="form-control" required="" id="id_confirm_password">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-round btn-block btn-loading shadow-sm mt-4">
                Change password
            </button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}