{% extends 'base.html' %}

{% block extend_title %}Topics |{% endblock %}

{% block content %}
<div class="topic">
    <div class="inner-wrapper">
        <!-- Inner sidebar -->
        <div class="inner-sidebar">
            <!-- Inner sidebar header -->
            <div class="inner-sidebar-header justify-content-center">
                <button class="btn btn-primary has-icon btn-block" type="button">New topic</button>
            </div>
            <!-- /Inner sidebar header -->

            <!-- Inner sidebar body -->
            <div class="inner-sidebar-body p-0">
                <div class="p-3 h-100" data-simplebar="init">
                    <nav class="nav nav-pills nav-gap-y-1 flex-column">
                        <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon active">
                            All Threads
                        </a>
                        <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">Solved</a>
                        <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">Unsolved</a>
                        <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">
                            No replies yet
                        </a>
                    </nav>
                </div>
            </div>
            <!-- /Inner sidebar body -->
        </div>
        <!-- /Inner sidebar -->

        <!-- Inner main -->
        <div class="inner-main">
            <!-- Inner main header -->
            <div class="inner-main-header">
                <span class="input-icon input-icon-sm ml-auto w-auto">
                    <form>
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <input type="text" class="form-control bg-gray-200 border-gray-200 shadow-none"
                                    placeholder="Search forum" />
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary has-icon btn-block" value="Search" />
                            </div>
                        </div>
                    </form>
                </span>
            </div>
            <!-- /Inner main header -->

            <!-- Inner main body -->

            <!-- Forum Detail -->
            <div class="inner-main-body p-2 p-sm-3 forum-content">
                <a href="javascript:void(0)" class="btn btn-light btn-sm mb-3 has-icon">
                    <i class="fa fa-arrow-left mr-2"></i> Back
                </a>

                <div class="card">
                    <div class="card-body">
                        <div class="media forum-item">
                            <div class="card-link">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle"
                                    width="50" alt="User" />
                                <small class="d-block text-center text-muted">Newbie</small>
                            </div>
                            <div class="media-body ml-3">
                                <span class="text-secondary">Mokrani</span>
                                <small class="text-muted ml-2">1 hour ago</small>
                                <h5 class="mt-1">Realtime fetching data</h5>
                                <div class="mt-3 font-size-sm">
                                    <p>
                                        lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                                    </p>
                                </div>
                            </div>
                            <div class="text-muted small text-center">
                                <span><i class="far fa-comment ml-2"></i> 3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                {% for i in '***' %}
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="media forum-item">
                            <a href="javascript:void(0)" class="card-link">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle"
                                    width="50" alt="User" />
                                <small class="d-block text-center text-muted">Pro</small>
                            </a>
                            <div class="media-body ml-3">
                                <span class="text-secondary">drewdan</span>
                                <small class="text-muted ml-2">1 hour ago</small>
                                <div class="mt-3 font-size-sm">
                                    <p>
                                        lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <hr />

                <form>
                    <div class="form-group mb-2">
                        <label for="reply" class="">Your message</label>
                        <textarea class="form-control" id="reply" style="height: 145px;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Send</button>
                </form>
            </div>
            <!-- /Forum Detail -->
        </div>
        <!-- /Inner main -->
    </div>
</div>
{% endblock %}