[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-webpack-loader = "==0.7.0"
djangorestframework = "*"
pyyaml = "*"
uritemplate = "*"

[dev-packages]

[requires]
python_version = "3.8"
