{% extends 'base.html' %}

{% block extend_title %}Topics |{% endblock %}

{% block content %}
<div class="topic">
    <div class="inner-wrapper">
        <!-- Inner sidebar -->
        {% include 'topic/frags/inner_sidebar.html' %}
        <!-- /Inner sidebar -->

        <!-- Inner main -->
        <div class="inner-main">
            <!-- Inner main header -->
            {% include 'topic/frags/inner_main_header.html' %}
            <!-- /Inner main header -->

            <!-- Forum List -->
            <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                {% for topic_instance in topic_list %}
                <div class="card mb-2">
                    <div class="card-body p-2 p-sm-3">
                        <div class="media forum-item">
                            <img src="{{topic_instance.creator.get_avatar_url}}" class="mr-3 rounded-circle"
                                width="50" alt="User" />
                            <div class="media-body">
                                <h6 class="text-body"><a class="text-dark" href="{% url 'topic_detail' topic_instance.pk %}">{{topic_instance.title}}</a></h6>
                                <p class="text-secondary">
                                    {{topic_instance.description}}
                                </p>
                                <p class="text-muted">
                                    {% if topic_instance.topicmessage_set.last %}
                                    <span class="text-secondary font-weight-bold">{{topic_instance.topicmessage_set.last.creator.get_fullname}}</span>
                                    replied
                                    <span class="text-secondary font-weight-bold">{{topic_instance.topicmessage_set.last.created_at|date:'d/m/Y H:i'}}</span>
                                    {% else %}
                                    no reply
                                    {% endif %}
                                </p>
                            </div>
                            <div class="text-muted small text-center align-self-center">
                                <span><i class="far fa-comment ml-2"></i> {{topic_instance.topicmessage_set.count}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="card mb-2">
                    <div class="card-body p-2 p-sm-3">
                        <div class="media forum-item">
                            <div class="media-body text-center">
                                <h6 class="text-body"><a class="text-dark" href="javascript:void(0)">No topics</a></h6>
                                <p class="text-secondary">
                                    Please <a href="{% url 'topic_create' %}?{{queryparams}}">create</a> a new one.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- Pagination -->
                {% if page_obj %}
                <ul class="pagination pagination-sm pagination-circle justify-content-center my-4">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link has-icon" href="?page={{ page_obj.previous_page_number }}&filter={{queryparam_filter}}&search={{queryparam_search}}">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    </li>
                    {% endif %}
                    <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link has-icon" href="?page={{ page_obj.next_page_number }}&filter={{queryparam_filter}}&search={{queryparam_search}}">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
                <!-- /Pagination -->
            </div>
            <!-- /Forum List -->
        </div>
        <!-- /Inner main -->
    </div>
</div>
{% endblock %}