{% extends 'base.html' %}

{% block extend_title %}Topic |{% endblock %}

{% block content %}
<div class="topic">
    <div class="inner-wrapper">
        <!-- Inner sidebar -->
        {% include 'topic/frags/inner_sidebar.html' %}
        <!-- /Inner sidebar -->

        <!-- Inner main -->
        <div class="inner-main">
            <!-- Inner main header -->
            {% include 'topic/frags/inner_main_header.html' %}
            <!-- /Inner main header -->

            <!-- Forum Detail -->
            <div class="inner-main-body p-2 p-sm-3 forum-content">
                <a href="javascript:window.history.back()" class="btn btn-light btn-sm mb-3 has-icon">
                    <i class="fa fa-arrow-left mr-2"></i> Back
                </a>

                <div class="card">
                    <div class="card-body">
                        <div class="media forum-item">
                            <div class="card-link">
                                <img src="{{topic_instance.creator.get_avatar_url}}" class="rounded-circle"
                                    width="50" alt="User" />
                                <!-- <small class="d-block text-center text-muted">Newbie</small> -->
                            </div>
                            <div class="media-body ml-3">
                                <span class="text-secondary">{{topic_instance.creator.get_fullname}}</span>
                                <small class="text-muted ml-2">{{topic_instance.created_at|date:'d/m/Y H:i'}}</small>
                                <h5 class="mt-1">{{topic_instance.title}}</h5>
                                <div class="mt-3 font-size-sm">
                                    <p>
                                        {{topic_instance.description}}
                                    </p>
                                </div>
                            </div>
                            <div class="text-muted small text-center">
                                <span><i class="far fa-comment ml-2"></i> {{topic_instance.topicmessage_set.count}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                {% for message_instance in topic_instance.topicmessage_set.all %}
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="media forum-item">
                            <a href="javascript:void(0)" class="card-link">
                                <img src="{{message_instance.creator.get_avatar_url}}" class="rounded-circle"
                                    width="50" alt="User" />
                                <!-- <small class="d-block text-center text-muted">Pro</small> -->
                            </a>
                            <div class="media-body ml-3">
                                <span class="text-secondary">{{message_instance.creator.get_fullname}}</span>
                                <small class="text-muted ml-2">{{message_instance.created_at|date:'d/m/Y H:i'}}</small>
                                <div class="mt-3 font-size-sm">
                                    <p>
                                        {{message_instance.message}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.last %}<hr />{% endif %}
                {% endfor %}

                <form method="post">

                    {% csrf_token %}

                    <div class="form-group mb-2">
                        <label for="reply" class="">Your message</label>
                        <textarea class="form-control" id="reply" name="message" style="height: 145px;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Send</button>
                </form>
            </div>
            <!-- /Forum Detail -->
        </div>
        <!-- /Inner main -->
    </div>
</div>
{% endblock %}